<style>
.logo a {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
  font-size: 0 !important;
}
.logo a img {
  height: 100px !important;
  width: auto !important;
}
#theme-toggle {
  display: none !important;
}
.header-nav {
  flex-direction: column !important;
  align-items: flex-start !important;
}
.logo {
  width: 100% !important;
  padding-bottom: 8px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin-bottom: 15px !important;
}
.logo-switches {
  margin-left: auto !important;
}
.lang-menu a {
  font-size: 13px !important;
  padding: 0.5px 8px !important;
  border-radius: 10px !important;
  background: #E1F5EE !important;
  color: #1D9E75 !important;
  font-weight: 600 !important;
}
.lang-menu a:hover {
  background: #1D9E75 !important;
  color: white !important;
}
.nav-sep {
  display: none !important;
}
#menu {
  width: 100% !important;
  justify-content: flex-end !important;
  padding-left: 0 !important;
}
#menu a {
  font-size: 18px !important;
}
#menu li {
  margin: 0 20px !important;
}
.first-entry.home-info .entry-header h1 {
  font-size: 28px !important;
}
.first-entry.home-info .entry-content p {
  font-size: 16px !important;
}
@media (max-width: 768px) {
  .logo a img {
    height: 50px !important;
  }
  .logo a span span:first-child {
    font-size: 20px !important;
  }
  .logo a span span:last-child {
    font-size: 13px !important;
  }
  #menu a {
    font-size: 12px !important;
  }
  #menu li {
    margin: 0 4px !important;
  }
  .logo a {
    gap: 0px !important;
  }
  .logo {
    margin-bottom: 0.1px !important;
  }
  .lang-menu a {
    font-size: 8px !important;
    padding: 0px 6px !important;
    border-radius: 8px !important;
  }
  .first-entry.home-info .entry-header h1 {
    font-size: 18px !important;
  }
  .first-entry.home-info .entry-content p {
    font-size: 12px !important;
  }
  .main {
  background-color: transparent !important;
}
}
</style>